<form class="form-horizontal" method="post">
  <fieldset>
    <legend><%= title %></legend>
    <div class="control-group">
      <label class="control-label" for="name"><%- msg('group-name') %></label>
      <div class="controls">
        <input type="text" class="input-medium" id="name" name="name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title"><%- msg('group-title') %></label>
      <div class="controls">
        <input type="text" class="input-medium" id="title" name="title">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="parent"><%- msg('group-parent') %></label>
      <div class="controls">
        <input type="text" class="input-medium" id="parent" readonly="readonly" value="<%= parentGroup.name %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="desc"><%- msg('group-desc') %></label>
      <div class="controls">
        <textarea class="input-xlarge" id="desc" rows="3" name="desc"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><%- msg('Submit') %></button>
      <a href="/group/<%= parentGroup.name %>" class="btn"><%- msg('Cancel') %></a>
    </div>
  </fieldset>
</form>
