<ul class="breadcrumb">
  <li>
    <a href="/"><%- msg('index') %></a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="/group"><%- msg('groups') %></a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="/group/<%= group.name %>"><%= group.title %></a>
    <span class="divider">/</span>
  </li>
  <li class="active"><%- msg('all-users') %></li>
</ul>

<div class="row">
  <div class="span12">
    <h2><%- msg('all-users') %></h2>
    <%- partial('userlist') %>
  </div>
</div>
