<form class="form-horizontal" method="post">
  <fieldset>
    <legend><%= title %></legend>
    <div class="control-group">
      <label class="control-label" for="name"><%- msg('group-name') %></label>
      <div class="controls">
        <input type="text" class="input-medium" id="name" name="name"
        <% if (group) { %>
          value="<%= group.name %>"
          readonly="readonly"
        <% } %>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title"><%- msg('group-title') %></label>
      <div class="controls">
        <input type="text" class="input-medium" id="title" name="title"
        <% if (group) { %>
          value="<%= group.title %>"
        <% } %>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="parent"><%- msg('group-parent') %></label>
      <div class="controls">
        <input type="text" class="input-medium" id="parent" name="parent"
        <% if (group) { %>
          <% if (!parentGroup) { %>
            readonly="readonly"
            <% } else { %>
            value="<%= group.parent %>"
          <% } %>
        <% } else { %>
          value="<%= parentGroup %>"
          readonly="readonly"
        <% } %>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="desc"><%- msg('group-desc') %></label>
      <div class="controls">
        <textarea class="input-xlarge" id="desc" rows="3" name="desc"><% if (group) { %><%= group.desc %><% } %></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><%- msg('Submit') %></button>
      <a
      <% if (group) { %>
        href="/group/<%= group.name %>"
      <% } else { %>
        href="/group/<%= parentGroup.name %>"
      <% } %>
      class="btn"><%- msg('Cancel') %></a>
    </div>
  </fieldset>
</form>
