<ul class="breadcrumb">
  <li>
    <a href="/group"><%- msg('groups') %></a>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= group.title %></li>
</ul>

<h1><%= group.title %></h1>
<% if (group.currentUserIsAdmin) { %>
  <p>
    <a href="/group/<%= group.name %>/edit" class="btn btn-primary">
      <i class="icon-edit icon-white"></i>
      <%- msg('edit-group') %>
    </a>
    <a href="/group/<%= group.name %>/del" class="btn btn-danger">
      <i class="icon-trash icon-white"></i>
      <%- msg('del-group') %>
    </a>
  </p>
<% } %>
<table class="table vertical">
  <tr>
    <th width="200px"><%- msg('group-name') %></th>
    <td><%= group.name %></td>
  </tr>
  <tr>
    <th><%- msg('group-title') %></th>
    <td><%= group.title %></td>
  </tr>
  <tr>
    <th><%- msg('group-desc') %></th>
    <td><%= group.desc %></td>
  </tr>
  <tr>
    <th><%- msg('group-admins') %></th>
    <td>
      <ul>
        <% for (var i in group.admins) { %>
          <li>
            <a href="/u/<%= group.admins[i].name %>"><%= group.admins[i].title %></a>
            <% if (group.currentUserIsAdmin) { %>
              <a href="/group/<%= group.name %>/deladmin/<%= group.admins[i].name %>" class="btn btn-danger btn-mini">
                  <i class="icon-trash icon-white"></i>
              </a>
            <% } %>
          </li>
        <% } %>
      </ul>
      <% if (group.currentUserIsAdmin) { %>
        <p>
          <a href="/group/<%= group.name %>/addadmin" class="btn btn-success">
            <i class="icon-plus icon-white"></i>
            <%- msg('add-admin') %>
          </a>
        </p>
      <% } %>
    </td>
  </tr>
  <% if (group.parent) { %>
    <tr>
      <th><%- msg('group-parent') %></th>
      <td>
        <a href="/group/<%= group.parent.name %>"><%= group.parent.title %></a>
      </td>
    </tr>
  <% } %>
  <tr>
    <th><%- msg('group-children') %></th>
    <td>
      <ul class="unstyled">
        <%- partial('grouplistitem', group.children) %>
      </ul>
      <% if (group.currentUserIsAdmin) { %>
        <p>
          <a href="/group/<%= group.name %>/addgroup" class="btn btn-success">
            <i class="icon-plus icon-white"></i>
            <%- msg('add-child-group') %>
          </a>
        </p>
      <% } %>
    </td>
  </tr>
</table>
</div>
<div class="span9">
<h2><%- msg('user-list') %></h2>
<% if (group.currentUserIsAdmin || group.containCurrentUser) { %>
  <% if (group.currentUserIsAdmin) { %>
    <p>
      <a href="/group/<%= group.name %>/adduser" class="btn btn-success">
        <i class="icon-plus icon-white"></i>
        <%- msg('add-user') %>
      </a>
      <a href="/group/<%= group.name %>/allusers" class="btn btn-info">
      <i class="icon-list-alt icon-white"></i>
        <%- msg('all-users') %>
      </a>
    </p>
  <% } %>
  <%- partial('userlist') %>
<% } else { %>
  <%- msg('permission-denied-view-group') %>
<% } %>
