<li id="group-<%= groupnode.name %>">
    <% if (groupnode.children.length > 0) { %>
        <div class="node" title="<%= groupnode.desc %>"><a href="/group/<%= groupnode.name %>" class="btn"><i class="icon-link"></i></a> <%= groupnode.title %></div>
        <ul>
        <% for (var i in groupnode.children) { %>
          <%- partial('groupnode', groupnode.children[i]) %>
        <% } %>
        </ul>
    <% } else { %>
        <a href="/group/<%= groupnode.name %>" title="<%= groupnode.desc %>"><%= groupnode.title %></a>
    <% } %>
</li>
