<table class="table table-bordered table-condensed">
  <tr>
    <th><%= msg('uid') %></th>
    <th><%= msg('username') %></th>
    <th><%= msg('Nickname') %></th>
    <th><%= msg('full-name') %></th>
    <th><%= msg('Email') %></th>
    <th><%= msg('mobile') %></th>
    <th><%= msg('birth-date') %></th>
    <% if (group.users.showAction) { %>
      <th><%= msg('action') %></th>
    <% } %>
  </tr>
  <%- partial('userlistitem', group.users) %>
</table>
