<table class="table" style="font-size:12px">
  <tr>
    <th><%= msg('uid') %></th>
    <th><%= msg('username') %></th>
    <th><%= msg('Nickname') %></th>
    <th><%= msg('full-name') %></th>
    <th><%= msg('Email') %></th>
    <th><%= msg('mobile') %></th>
    <th><%= msg('birth-date') %></th>
    <% if (group.currentUserIsAdmin && group.users.directList) { %>
      <th><%= msg('action') %></th>
    <% } %>
    <% if (group.currentUserIsAdmin && group.users.indirectList) { %>
      <th><%= msg('belong-groups') %></th>
    <% } %>
  </tr>
  <%- partial('userlistitem', group.users) %>
</table>
