<tr>
  <td><%= userlistitem.uid %></td>
  <td>
    <a href="/u/<%= userlistitem.name %>">
      <%= userlistitem.name %>
    </a>
  </td>
  <td><%= userlistitem.nickname %></td>
  <td><%= userlistitem.fullname %></td>
  <td><%= userlistitem.email %></td>
  <td><%= userlistitem.mobile %></td>
  <td><%= userlistitem.birthdate %></td>
  <% if (group.currentUserIsAdmin && group.users.directList) { %>
    <td>
      <a href="/group/<%= group.name %>/deluser/<%= userlistitem.name %>" class="btn btn-danger">
        <i class="icon-trash"></i>
      </a>
    </td>
  <% } %>
  <% if (group.currentUserIsAdmin && group.users.indirectList) { %>
    <td><%- partial('grouplistplain', userlistitem.groups) %></td>
  <% } %>
</tr>
