form(method="POST", action="/apps/" + appinfo.clientid + "/edit")
  table.form-table
    tr
      th= msg('client-id')
      td= appinfo.clientid
    tr
      th
        label(for="appedit-name")= msg('app-name')
      td
        input(type="text", id="appedit-name", name="name", value=appinfo.name)    
    tr
      th
        label(for="appedit-desc")= msg('app-desc')
      td
        textarea(id="appedit-desc", name="desc")= appinfo.desc
    tr
      th
      td
        input(type="submit", value=msg('Submit'))
        a.button(href="/apps/" + appinfo.clientid)= msg('Cancel')

