h1= title
form(method="POST", action="/appreg")
  table#appreg-form
    - if (locals.error)
      tr
        th
        td
          #appreg-error!= msg('error-' + error)
    tr
      th
        label(for="appreg-name")= msg('app-name')
        .tip#appreg-name-tips!= msg('appreg-name-tips')
      td
        input(type="text", id="appreg-name", name="name", value=locals.appinfo ? appinfo.name : '')
    tr
      th
        label(for="appreg-secret")= msg('app-secret')
        .tip#appreg-secret-tips!= msg('appreg-secret-tips')
      td
        input(type="password", id="appreg-secret", name="secret", value=locals.appinfo ? appinfo.secret : '')
    tr
      th
        label(for="appreg-desc")= msg('app-desc')
        .tip#appreg-desc-tips!= msg('appreg-desc-tips')
      td
        textarea(id="appreg-desc", name="desc")= locals.appinfo ? appinfo.desc : ''
    tr
      th
      td
        input(type="submit", id="appreg-submit", value=msg('Submit'))


