<form class="horizontal" method="post">
  <fieldset>
    <legend><%= title %></legend>
    <div class="alert alert-error">
      <p><%- msg('removing-app-confirm', appinfo.name) %></p>
      <p>
      <a href="/apps/<%= appinfo.clientid %>" class="btn"><%- msg('no-wanna-back-out') %></a>
      <button type="submit" class="btn btn-danger"><%- msg('yes-wanna-continue') %></button>
      </p>
    </div>
  </fieldset>
</form>
