form(method="POST", action="/changename")
  table.form-table
    tr
      td(colspan="2")!= msg('change-name-notice')
    tr
      th= msg('current-username')
      td= nameChange.oldname
    tr
      th
        label(for="changename-password")= msg('Password')
      td
        input#changename-password(type="password", name="password", value=nameChange.password || '')
    tr
      th
        label(for="changename-newname")= msg('new-username')
      td
        input#changename-newname(type="text", name="newname", value=nameChange.newname || '')
    tr
      th
      td
        input(type="submit", id="changename-submit", value=msg('Submit'))
        a.button(href="/editinfo")= msg('Cancel')

