<div class="row">
  <div class="span6">
    <h2><%= msg('my-info') %></h2>
    <table class="table">
      <% if (userinfo.nickname) { %>
        <tr>
          <th><%= msg('Nickname') %></th>
          <td><%= userinfo.nickname %></td>
        </tr>
      <% } %>
      <% if (userinfo.fullname) { %>
        <tr>
          <th><%= msg('full-name') %></th>
          <td><%= userinfo.fullname %></td>
        </tr>
      <% } %>
      <% if (userinfo.email) { %>
        <tr>
          <th><%= msg('Email') %></th>
          <td><a href="mailto:<%= userinfo.email %>"><%= userinfo.email %></a></td>
        </tr>
      <% } %>
      <% if (userinfo.mobile) { %>
        <tr>
          <th><%= msg('Mobile') %></th>
          <td><%= userinfo.mobile %></td>
        </tr>
      <% } %>
      <% if (userinfo.website) { %>
        <tr>
          <th><%= msg('Website') %></th>
          <td><a href="<%= userinfo.website %>" target="_blank"><%= userinfo.website %></a></td>
        </tr>
      <% } %>
      <% if (userinfo.address) { %>
        <tr>
          <th><%= msg('Address') %></th>
          <td><%= userinfo.address %></td>
        </tr>
      <% } %>
      <% if (userinfo.birthdate) { %>
        <tr>
          <th><%= msg('birth-date') %></th>
          <td><%= msg('birthdate-format', userinfo.birthdate.slice(0, 4), userinfo.birthdate.slice(4, 6), userinfo.birthdate.slice(6, 8)) %></td>
        </tr>
      <% } %>
      <% if (userinfo.bio) { %>
        <tr>
          <th><%= msg('Bio') %></th>
          <td><%= userinfo.bio %></td>
        </tr>
      <% } %>
      <tr>
        <th></th>
        <td>
          <a href="/editinfo" class="btn btn-primary">
            <i class="icon-edit icon-white"></i>
            <%= msg('edit-my-info') %>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="span3">
    <h2><%= msg('Apps') %></h2>
    <% if (apps.success) { %>
      <% if (apps.apps.length) { %>
        <ul>
          <%- partial('partials/appitem', apps.apps) %>
        </ul>
      <% } else { %>
        <%= msg('no-apps-yet') %>
      <% } %>
    <% } else { %>
      <p>
        <%= msg('error-retrieving-apps') %>
      </p>
    <% } %>
    <a href="/appreg" class="btn btn-primary">
      <i class="icon-plus icon-white"></i>
      <%= msg('register-new-app') %>
    </a>
  </div>
  <div class="span3">
    <h2><%= msg('authorized-apps') %></h2>
    <% if (apps.success) { %>
      <% if (apps.authorizedapps.length) { %>
        <ul>
          <%- partial('partials/appitem', apps.authorizedapps) %>
        </ul>
      <% } else { %>
        <%= msg('no-apps-yet') %>
      <% } %>
    <% } else { %>
      <p>
        <%= msg('error-retrieving-apps') %>
      </p>
    <% } %>
 </div>
</div>
