a.button(href="/logout", id="logout")= msg('Logout')
.clear
.section#section-userinfo
  h2= msg('my-info')
  table.info-table
    - if (userinfo.nickname)
      tr
        th= msg('Nickname')
        td= userinfo.nickname
    - if (userinfo.fullname)
      tr
        th= msg('full-name')
        td= userinfo.fullname
    tr
      th= msg('Email')
      td
        a(href="mailto:" + userinfo.email)= userinfo.email
    - if (userinfo.mobile)
      tr
        th= msg('Mobile')
        td= userinfo.mobile
    - if (userinfo.website)
      tr
        th= msg('Website')
        td
          a(href=userinfo.website)= userinfo.website
    - if (userinfo.address)
      tr
        th= msg('Address')
        td= userinfo.address
    - if (userinfo.bio)
      tr
        th= msg('Bio')
        td= userinfo.bio
    tr
      th
      td
        a.button(href="/editinfo")= msg('edit-my-info')
.section#section-apps
  h2= msg('my-apps')
  - if (apps.success)
    - if (apps.apps.length)
      ul.operable-list!= partial('appitem', apps.apps)
    - else
      div= msg('no-apps-yet')
  - else
    div= msg('error-retrieving-apps')
  a.button(href="/appreg")= msg('register-new-app')

