<div class="row">
  <div class="span6">
    <h2><%= msg('my-info') %></h2>
    <table class="table">
      <tr>
        <th><%= msg('name') %></th>
        <td><%= user.name %></td>
      </tr>
      <% if (user.nickname) { %>
        <tr>
          <th><%= msg('Nickname') %></th>
          <td><%= user.nickname %></td>
        </tr>
      <% } %>
      <% if (user.fullname) { %>
        <tr>
          <th><%= msg('full-name') %></th>
          <td><%= user.fullname %></td>
        </tr>
      <% } %>
      <% if (user.email) { %>
        <tr>
          <th><%= msg('Email') %></th>
          <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
        </tr>
      <% } %>
      <% if (user.mobile) { %>
        <tr>
          <th><%= msg('Mobile') %></th>
          <td><%= user.mobile %></td>
        </tr>
      <% } %>
      <% if (user.website) { %>
        <tr>
          <th><%= msg('Website') %></th>
          <td><a href="<%= user.website %>" target="_blank"><%= user.website %></a></td>
        </tr>
      <% } %>
      <% if (user.address) { %>
        <tr>
          <th><%= msg('Address') %></th>
          <td><%= user.address %></td>
        </tr>
      <% } %>
      <% if (user.birthdate) { %>
        <tr>
          <th><%= msg('birth-date') %></th>
          <td><%= msg('birthdate-format', user.birthdate.slice(0, 4), user.birthdate.slice(4, 6), user.birthdate.slice(6, 8)) %></td>
        </tr>
      <% } %>
      <% if (user.bio) { %>
        <tr>
          <th><%= msg('Bio') %></th>
          <td><%= user.bio %></td>
        </tr>
      <% } %>
      <tr>
        <th></th>
        <td>
          <a href="/editinfo" class="btn btn-primary">
            <i class="icon-edit icon-white"></i>
            <%= msg('edit-my-info') %>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="span3">
    <h2><%= msg('Apps') %></h2>
    <% if (apps.success) { %>
      <% if (apps.apps.length) { %>
        <ul>
          <%- partial('partials/appitem', apps.apps) %>
        </ul>
      <% } else { %>
        <%= msg('no-apps-yet') %>
      <% } %>
    <% } else { %>
      <p>
        <%= msg('error-retrieving-apps') %>
      </p>
    <% } %>
    <a href="/appreg" class="btn btn-primary">
      <i class="icon-plus icon-white"></i>
      <%= msg('register-new-app') %>
    </a>
  </div>
  <div class="span3">
    <h2><%= msg('authorized-apps') %></h2>
    <% if (apps.success) { %>
      <% if (apps.authorizedapps.length) { %>
        <ul>
          <%- partial('partials/appitem', apps.authorizedapps) %>
        </ul>
      <% } else { %>
        <%= msg('no-apps-yet') %>
      <% } %>
    <% } else { %>
      <p>
        <%= msg('error-retrieving-apps') %>
      </p>
    <% } %>
 </div>
</div>
