form(method="POST", action="/login?returnto=/")
  table#login-form
    tr
      th
        label(for="login-username")= msg('Username')
      td
        input(type="text", id="login-username", name="username", value=locals.userinfo ? userinfo.username : '')
    tr
      th
        label(for="login-password")= msg('Password')
      td
        input(type="password", id="login-password", name="password", value=locals.userinfo ? userinfo.password : '')
    tr
      th
      td
        input(type="submit", id="login-submit", value=msg('Login'))
        a.button(href="/register", id="login-register")= msg('Register')

