!!!
html
  head
    title= pageTitle(title)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery.min.js")
  body
    #container
      #header
        #menu
          - if (session.userinfo)
            != msg('logged-in-as', session.userinfo.username)
            a#logout(href="/logout")= msg('Logout')
        a#logo(href="/")
          img(src="/images/logo200.png", width="200", height="150")
          img(src="/images/accounts200.png", width="200", height="150")
      #content
        h1= title
        != partial('partials/flash', flashArray)
        #body!= body
        .clear
      #footer!= msg('footer-text')
    script(type="text/javascript", src="/javascripts/script.js")

