<form class="horizontal" method="post">
  <fieldset>
    <legend><%- msg('Login') %></legend>
    <div class="field">
      <label for="username"><%- msg('Username') %></label>
      <div class="controls">
        <input type="text" class="text" id="username" name="username">
      </div>
    </div>
    <div class="field">
      <label for="password"><%- msg('Password') %></label>
      <div class="controls">
        <input type="password" class="text" id="password" name="password">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><%- msg('Login') %></button>
    </div>
  </fieldset>
<% if (returnto) { %>
  <input type="hidden" name="returnto" value="<%= returnto %>">
<% } %>
</form>
