form(method="POST", action="/register")
  table.form-table
    tr
      td(colspan="2")= msg('register-info')
    tr
      th
        label(for="reg-username")= msg('Username')
        .tip#reg-username-tips!= msg('reg-username-tips')
      td
        input#reg-username(type="text", name="username", value=locals.userinfo ? userinfo.username : '')
    tr
      th
        label(for="reg-password")= msg('Password')
        .tip#reg-password-tips!= msg('reg-password-tips')
      td
        input#reg-password(type="password", name="password", value=locals.userinfo ? userinfo.password : '')
    tr
      th
        label(for="reg-email")= msg('Email')
        .tip#reg-email-tips!= msg('reg-email-tips')
      td
        input#reg-email(type="email", name="email", value=locals.userinfo ? userinfo.email : '')
    tr
      th
      td
        input(type="submit", id="reg-submit", value=msg('Submit'))
        a.button(href="/")= msg('Cancel')


