<h1><%= msg('dashboard') %></h1>
<a href="/editinfo" class="btn" style="float:right;position:relative;top:10px">
    <i class="icon-edit icon-white"></i>
    <%= msg('edit-userinfo') %>
</a>
<h2><%= msg('userinfo') %></h2>
<div id="profile" class="no-avatar">
    <%- partial('userinfo') %>
</div>
<hr>

<h2>应用</h2>
<ul>
  <li><a href="https://wiki.net9.org" target="_blank">Wiki9</a> - 酒井维基</li>
  <li><a href="http://git.net9.org" target="_blank">Git9</a> - 酒井Git</li>
  <li><a href="http://ai.net9.org/" target="_blank">AI9</a> - 智能体官方网站</li>
  <li>
    <a href="ftp://ftp.net9.org/" target="_blank">FTP9</a> - 酒井文件服务器
      (<a href="https://wiki.net9.org/w/FTP9" target="_blank">说明</a>)
  </li>
  <li>
    <a href="https://rowell.net9.org/" target="_blank">Rowell</a> - 9#BBS网页版
      (<a href="https://wiki.net9.org/w/Rowell" target="_blank">说明</a>)
    </li>
</ul>

<h2><%= msg('authorized-apps') %></h2>
<% if (apps.success) { %>
  <% if (apps.authorizedapps.length) { %>
    <ul>
      <%- partial('app/authedappitem', apps.authorizedapps) %>
    </ul>
  <% } else { %>
    <%= msg('no-apps-yet') %>
  <% } %>
<% } else { %>
  <p>
    <%= msg('error-retrieving-apps') %>
  </p>
<% } %>
<hr>

<a href="/appreg" class="btn" style="float:right;position:relative;top:10px">
  <i class="icon-plus icon-white"></i>
  <%= msg('register-new-app') %>
</a>
<h2><%= msg('registered-apps') %></h2>
<% if (apps.success) { %>
  <% if (apps.apps.length) { %>
    <ul>
      <%- partial('partials/appitem', apps.apps) %>
    </ul>
  <% } else { %>
    <%= msg('no-apps-yet') %>
  <% } %>
<% } else { %>
  <p>
    <%= msg('error-retrieving-apps') %>
  </p>
<% } %>
<hr>

<% if (!bbsUser) { %>
<a href="/bbs/connect" class="btn" style="float:right;position:relative;top:10px">
  <i class="icon-plus icon-white"></i>
  <%= msg('net9-bbs-connect') %>
</a>
<% } %>
<h2><%= msg('net9-bbs') %></h2>
<% if (bbsUser) { %>
<p>已绑定酒井帐号：<%= bbsUser.information.userid %></p>
<table class="table">
  <tr>
    <td>昵称</td>
	<td><%= bbsUser.information.nick %></td>
  </tr>
  <tr>
    <td>姓名</td>
	<td><%= bbsUser.information.realname %></td>
  </tr>
  <tr>
    <td>地址</td>
	<td><%= bbsUser.information.address %></td>
  </tr>
  <tr>
    <td>邮箱</td>
	<td><%= bbsUser.information.email %></td>
  </tr>
  <tr>
    <td>性别</td>
	<td><%= bbsUser.information.gender %></td>
  </tr>
  <tr>
    <td>生命值</td>
	<td><%= bbsUser.information.life %></td>
  </tr>
  <tr>
    <td>经验值</td>
	<td><%= bbsUser.information.exp %></td>
  </tr>
  <tr>
    <td>上次登录地址</td>
	<td><%= bbsUser.information.lasthost %></td>
  </tr>
  <tr>
    <td>上次登录时间</td>
	<td><%= displayDate(bbsUser.information.lastlogin) %></td>
  </tr>
  <tr>
    <td>登录次数</td>
	<td><%= bbsUser.information.numlogins %></td>
  </tr>
  <tr>
    <td>发帖次数</td>
	<td><%= bbsUser.information.numposts %></td>
  </tr>
</table>
<h3>个人说明</h3>
<blockquote><%= bbsUser.information.plan %></blockquote>
<% } %>
