<h1><%= msg('dashboard') %></h1>
<a href="/editinfo" class="btn" style="float:right;position:relative;top:10px">
    <i class="icon-edit icon-white"></i>
    <%= msg('edit-userinfo') %>
</a>
<h2><%= msg('userinfo') %></h2>
<div id="profile" class="no-avatar">
    <%- partial('userinfo') %>
</div>
<hr>

<h2>应用</h2>
<ul>
  <li><a href="https://wiki.net9.org" target="_blank">Wiki9</a> - 酒井维基</li>
  <li><a href="http://git.net9.org" target="_blank">Git9</a> - 酒井Git</li>
  <li><a href="http://ai.net9.org/" target="_blank">AI9</a> - 智能体官方网站</li>
  <li>
    <a href="ftp://ftp.net9.org/" target="_blank">FTP9</a> - 酒井文件服务器
      (<a href="https://wiki.net9.org/w/FTP9" target="_blank">说明</a>)
  </li>
  <li>
    <a href="https://rowell.net9.org/" target="_blank">Rowell</a> - 9#BBS网页版
      (<a href="https://wiki.net9.org/w/Rowell" target="_blank">说明</a>)
    </li>
</ul>
<hr>

<h2><%= msg('authorized-apps') %></h2>
<% if (apps.success) { %>
  <% if (apps.authorizedapps.length) { %>
    <ul>
      <%- partial('app/authedappitem', apps.authorizedapps) %>
    </ul>
  <% } else { %>
    <%= msg('no-apps-yet') %>
  <% } %>
<% } else { %>
  <p>
    <%= msg('error-retrieving-apps') %>
  </p>
<% } %>
<hr>

<a href="/appreg" class="btn" style="float:right;position:relative;top:10px">
  <i class="icon-plus icon-white"></i>
  <%= msg('register-new-app') %>
</a>
<h2><%= msg('registered-apps') %></h2>
<% if (apps.success) { %>
  <% if (apps.apps.length) { %>
    <ul>
      <%- partial('partials/appitem', apps.apps) %>
    </ul>
  <% } else { %>
    <%= msg('no-apps-yet') %>
  <% } %>
<% } else { %>
  <p>
    <%= msg('error-retrieving-apps') %>
  </p>
<% } %>
<hr>

<h2><%= msg('third-party-connection') %></h2>
<ul>
  <li>
    <% if (!thirdpartyUser || !thirdpartyUser.renren) { %>
      <a href="/dashboard/connect/renren" class="btn">
        <i class="icon-plus icon-white"></i>
        <%= msg('connect-to-renren') %>
      </a>
    <% } else { %>
      <a href="http://www.renren.com/<%= thirdpartyUser.renren.uid %>" target="_blank">
        <%= msg('renren') %>
      </a>
    <% } %>
  </li>
</ul>
<hr>

<% if (!bbsUser) { %>
<a href="/bbs/connect" class="btn" style="float:right;position:relative;top:10px">
  <i class="icon-plus icon-white"></i>
  <%= msg('net9-bbs-connect') %>
</a>
<% } %>
<h2><%= msg('net9-bbs') %></h2>
<% if (bbsUser) { %>
  <% include bbsuser %>
<% } %>
<hr>
