<h1><%= msg('dashboard') %></h1>
<a href="/editinfo" class="btn" style="float:right">
    <i class="icon-edit icon-white"></i>
    <%= msg('edit-userinfo') %>
</a>
<h2><%= msg('userinfo') %></h2>
<div id="profile" class="no-avatar">
    <%- partial('userinfo') %>
</div>
<hr>

<a href="/appreg" class="btn" style="float:right">
  <i class="icon-plus icon-white"></i>
  <%= msg('register-new-app') %>
</a>
<h2><%= msg('apps') %></h2>
<% if (apps.success) { %>
  <% if (apps.apps.length) { %>
    <ul>
      <%- partial('partials/appitem', apps.apps) %>
    </ul>
  <% } else { %>
    <%= msg('no-apps-yet') %>
  <% } %>
<% } else { %>
  <p>
    <%= msg('error-retrieving-apps') %>
  </p>
<% } %>
<hr>

<h2><%= msg('authorized-apps') %></h2>
<% if (apps.success) { %>
  <% if (apps.authorizedapps.length) { %>
    <ul>
      <%- partial('partials/appitem', apps.authorizedapps) %>
    </ul>
  <% } else { %>
    <%= msg('no-apps-yet') %>
  <% } %>
<% } else { %>
  <p>
    <%= msg('error-retrieving-apps') %>
  </p>
<% } %>
