<form class="horizontal" method="post">
  <fieldset>
    <legend><%= title %></legend>
    <div class="field">
      <label for="username"><%- msg('Username') %></label>
      <div class="controls">
        <input type="text" class="text" id="username" name="username" value="<%= user.name %>" readonly="readonly">
      </div>
    </div>
    <div class="field">
      <label for="nickname"><%- msg('Nickname') %></label>
      <div class="controls">
        <input type="text" class="text" id="nickname" name="nickname" value="<%= user.nickname %>">
        <p class="help-block"><%- msg('editinfo-nickname-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="surname"><%- msg('sur-name') %></label>
      <div class="controls">
        <input type="text" class="text" id="surname" name="surname" value="<%= user.surname %>" required>
        <p class="help-block"><%- msg('editinfo-surname-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="givenname"><%- msg('given-name') %></label>
      <div class="controls">
        <input type="text" class="text" id="givenname" name="givenname" value="<%= user.givenname %>" required>
        <p class="help-block"><%- msg('editinfo-givenname-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="email"><%- msg('email') %></label>
      <div class="controls">
        <input type="text" class="text" id="email" name="email" value="<%= user.email %>" required>
        <p class="help-block"><%- msg('editinfo-email-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="emails"><%- msg('emails') %></label>
      <div class="controls">
        <textarea class="text" id="emails" name="emails"><%= user.emails.join('\n') %></textarea>
        <p class="help-block"><%- msg('editinfo-emails-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="mobile"><%- msg('mobile') %></label>
      <div class="controls">
        <input type="text" class="text" id="mobile" name="mobile" value="<%= user.mobile %>">
        <p class="help-block"><%- msg('editinfo-mobile-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="website"><%- msg('website') %></label>
      <div class="controls">
        <input type="text" class="text" id="website" name="website" value="<%= user.website %>">
        <p class="help-block"><%- msg('editinfo-website-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="address"><%- msg('address') %></label>
      <div class="controls">
        <input type="text" class="text" id="address" name="address" value="<%= user.address %>">
        <p class="help-block"><%- msg('editinfo-address-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="birthdate"><%- msg('birth-date') %></label>
      <div class="controls">
        <input type="text" class="text" id="birthdate" name="birthdate" value="<%= user.birthdate %>" autocomplete="off">
        <p class="help-block"><%- msg('editinfo-birthdate-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="bachelorYear"><%- msg('bachelor') %></label>
      <div class="controls">
        <% if (user.bachelor && user.bachelor.year) { %>
          <input type="text" class="text text-tiny" name="bachelorYear" value="<%= user.bachelor.year %>">
        <% } else { %>
          <input type="text" class="text text-tiny" name="bachelorYear" value="" placeholder="2013">
        <% } %>
        <%- msg('year') %>
        <% if (user.bachelor && user.bachelor.classNumber) { %>
          <input type="text" class="text text-tiny" name="bachelorClassNumber" value="<%= user.bachelor.classNumber %>">
        <% } else { %>
          <input type="text" class="text text-tiny" name="bachelorClassNumber" value="">
        <% } %>
        <%- msg('class-number') %>
        <p class="help-block"><%- msg('editinfo-bachelor-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="masterYear"><%- msg('master') %></label>
      <div class="controls">
        <% if (user.master && user.master.year) { %>
          <input type="text" class="text text-tiny" name="masterYear" value="<%= user.master.year %>">
        <% } else { %>
          <input type="text" class="text text-tiny" name="masterYear" value="" placeholder="2013">
        <% } %>
        <%- msg('year') %>
        <% if (user.master && user.master.classNumber) { %>
          <input type="text" class="text text-tiny" name="masterClassNumber" value="<%= user.master.classNumber %>">
        <% } else { %>
          <input type="text" class="text text-tiny" name="masterClassNumber" value="">
        <% } %>
        <%- msg('class-number') %>
        <p class="help-block"><%- msg('editinfo-master-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="doctorYear"><%- msg('doctor') %></label>
      <div class="controls">
        <% if (user.doctor && user.doctor.year) { %>
          <input type="text" class="text text-tiny" name="doctorYear" value="<%= user.doctor.year %>">
        <% } else { %>
          <input type="text" class="text text-tiny" name="doctorYear" value="" placeholder="2013">
        <% } %>
        <%- msg('year') %>
        <% if (user.doctor && user.doctor.classNumber) { %>
          <input type="text" class="text text-tiny" name="doctorClassNumber" value="<%= user.doctor.classNumber %>">
        <% } else { %>
          <input type="text" class="text text-tiny" name="doctorClassNumber" value="">
        <% } %>
        <%- msg('class-number') %>
        <p class="help-block"><%- msg('editinfo-doctor-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="bio"><%- msg('bio') %></label>
      <div class="controls">
        <textarea class="text" id="bio" name="bio" rows="3"><%= user.bio %></textarea>
        <p class="help-block"><%- msg('editinfo-bio-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="oldpass"><%- msg('old-password') %></label>
      <div class="controls">
        <input type="password" class="text" id="oldpass" name="oldpass" autocomplete="off">
      </div>
    </div>
    <div class="field">
      <label for="newpass"><%- msg('new-password') %></label>
      <div class="controls">
        <input type="password" class="text" id="newpass" name="newpass" autocomplete="off">
        <p class="help-block"><%- msg('editinfo-password-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="newpass-repeat"><%- msg('new-password-repeat') %></label>
      <div class="controls">
        <input type="password" class="text" id="newpassrepeat" name="newpassrepeat" autocomplete="off">
      </div>
    </div>
<div class="alert alert-info">
  <%- msg('editinfo-notice') %>
</div>
    <div class="form-actions">
      <button type="submit" class="btn"><%- msg('Submit') %></button>
      <a href="/dashboard" class="btn"><%- msg('Cancel') %></a>
    </div>
  </fieldset>
</form>
