<form class="horizontal" method="post">
  <fieldset>
    <legend><%- msg('register') %></legend>
    <div class="field">
      <label class="control-label" for="username"><%- msg('Username') %></label>
      <div class="controls">
        <input type="text" class="text" id="username" name="username">
        <p class="help-block"><%- msg('reg-username-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="surname"><%- msg('sur-name') %></label>
      <div class="controls">
        <input type="text" class="text" id="surname" name="surname" required>
        <p class="help-block"><%- msg('editinfo-surname-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="givenname"><%- msg('given-name') %></label>
      <div class="controls">
        <input type="text" class="text" id="givenname" name="givenname" required>
        <p class="help-block"><%- msg('editinfo-givenname-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label class="control-label" for="password"><%- msg('Password') %></label>
      <div class="controls">
        <input type="password" class="text" id="password" name="password">
        <p class="help-block"><%- msg('reg-password-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label class="control-label" for="password-repeat"><%- msg('password-repeat') %></label>
      <div class="controls">
        <input type="password" class="text" id="password-repeat" name="password-repeat">
      </div>
    </div>
    <div class="field">
      <label class="control-label" for="email"><%- msg('Email') %></label>
      <div class="controls">
        <input type="text" class="text" id="email" name="email">
        <p class="help-block"><%- msg('reg-email-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="bachelorYear"><%- msg('bachelor') %></label>
      <div class="controls">
        <input type="text" class="text text-tiny" name="bachelorYear" placeholder="2013">
        <input type="text" class="text text-tiny" name="bachelorClassNumber" placeholder="1">
        <%- msg('class-number') %>
        <p class="help-block"><%- msg('editinfo-bachelor-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="masterYear"><%- msg('master') %></label>
      <div class="controls">
        <input type="text" class="text text-tiny" name="masterYear" placeholder="2013">
        <input type="text" class="text text-tiny" name="masterClassNumber" placeholder="1">
        <%- msg('class-number') %>
        <p class="help-block"><%- msg('editinfo-master-tips') %></p>
      </div>
    </div>
    <div class="field">
      <label for="doctorYear"><%- msg('doctor') %></label>
      <div class="controls">
        <input type="text" class="text text-tiny" name="doctorYear" placeholder="2013">
        <input type="text" class="text text-tiny" name="doctorClassNumber" placeholder="1">
        <%- msg('class-number') %>
        <p class="help-block"><%- msg('editinfo-doctor-tips') %></p>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn"><%- msg('Register') %></button>
      <a href="/" class="btn"><%- msg('Cancel') %></a>
    </div>
  </fieldset>
</form>
