<div id="profile">
    <p>
        <h1><%= user.nickname %></h1>
        <% if (user.website) { %>
          <a href="<%= user.website %>" target="_blank" style="text-decoration:none">
        <% } %>
        <img src="<%= user.gravatar(100) %>" id="profile-avatar" alt="Gravatar" />
        <% if (user.website) { %>
          </a>
        <% } %>
    </p>
    <%- partial('user/userinfo', {user: user, isRoot: isRoot}) %>
    <% if (curUser && curUser.name == user.name) { %>
      <p>
        <a href="/dashboard" class="btn top-right">
          <i class="icon-edit icon-white"></i>
          <%= msg('dashboard') %>
        </a>
      </p>
    <% } %>
    <% if (isRoot && curUser.name != user.name) { %>
    	<a href="/editinfo/<%= user.name %>" class="btn top-right">
					<i class="icon-edit icon-white"></i>
					<%= msg('edit-userinfo') %>
			</a>
    <% } %>

    <% if (thirdpartyUser) { %>
      <hr>
      <% if (thirdpartyUser.renren) { %>
        <p>
          <a href="http://www.renren.com/<%= thirdpartyUser.renren.uid %>" target="_blank" style="border:none">
            <img src="/img/renren.png" title="<%= msg('renren') %>">
          </a>
        </p>
      <% } %>
    <% } %>
</div>
